.edit{
    margin:50px 250px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}
.rows{
    padding-top:20px;
}
.left{
    border-right: 1px solid #DBDBDB;
    
    padding-left: 50px;
 padding-right: 20px;
 padding-bottom: 30px;
}
.right{
    margin-top:20px;
}
